* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato;
}

/* This will be the css for the navigation */
nav {
  align-items: center;
  background-color: #fefefe;
  box-shadow: 0 0 2vh 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  margin: 0;
  min-height: 8.5vh;
}

.logo img {
  display: flex;
  height: 65px;
  justify-content: flex-start;
  margin: 0 3vw 0 14vw;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.navLinks li {
  list-style: none;
}

.navLinks a {
  color: #121212;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
}

body {
  background-color: #f4f4f4;
}

.burgerMenu {
  display: none;
}

.burgerMenu div {
  background-color: #000;
  height: 3px;
  margin: 5px;
  transition: all 0.1s ease;
  width: 25px;
}

.tickets {
  background: #065190;
  border-radius: 16px;
  border: 1px solid #232323;
  color: #fefefe;
  font-size: 16px;
  padding: 8px;
}

.tickets:hover {
  filter: brightness(110%);
}

/* Navigation ends here */
/* The headermenu */
.introHeader {
  display: flex;
}

.historyHeader {
  align-items: center;
  background: #065190;
  color: #fefefe;
  display: flex;
  font-size: 50px;
  height: 200px;
  justify-content: center;
  width: 100%;
}

.historyNav {
  background-color: #fefefe;
  box-shadow: 0 0 2vh 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.navLinks2 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.navLinks2 li {
  list-style: none;
  border: 1px solid #aaa;
}

.navLinks2 a {
  color: #121212;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  padding: 25px 12px;
  text-decoration: none;
  width: 100%;
}

/* Headermenu ends here */
/* The navigation for the timelines */
section .timelineImg {
  width: 100%;
}

.calendar {
  background: #f4f4f4;
  padding: 50px 25px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.calendar ul {
  list-style: none;
}

.calendar a {
  color: #121212;
  text-decoration: none;
}

.calendar ul li {
  color: #121212;
  font-size: 50px;
}

.calendar .prev {
  float: left;
}

.calendar .next {
  float: right;
}

span {
  cursor: pointer;
}

#hidden {
  display: none;
  margin-top: 10px;
}

.years {
  background: #ddd;
}

.years a {
  color: #121212;
  text-decoration: none;
}

.years li {
  border: 1px solid #121212;
  display: inline-block;
  height: 50px;
  list-style: none;
  text-align: center;
  padding: 10px;
  width: 33.15%;
}

/* Navigation for timelines ends here */
/* The footer starts here */
footer {
  align-items: center;
  background: #065190;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 100%;
}

.sponsorBox {
  color: #fefefe;
  flex-direction: row;
  height: 60px;
  margin: 3vh 14vw;
  width: 50%;
}

.sponsorBox ul {
  list-style: none;
}

.sponsorBox ul li a {
  align-items: center;
  color: #fefefe;
  text-decoration: none;
}

/* Footer ends here */
/* The main section starts here for the content */
section {
  margin: 3vh 14vw;
}

.mainLogo img {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: flex-start;
  width: 100%;
}

.centerBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.primaryBtn a {
  align-items: center;
  background-color: #065190;
  color: #fefefe;
  display: flex;
  font-size: 50px;
  height: 80px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  width: 250px;
}

.primaryBtn a:hover {
  filter: brightness(120%);
}

.introText {
  align-items: center;
  display: flex;
  font-size: 40px;
  justify-content: flex-end;
  width: 100%;
}

article {
  margin: 3vh 14vw;
}

h2 {
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 60px 0 20px 0;
  text-align: center;
}

.widePicture {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: space-around;
  width: 100%;
}

.tallPicture {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: flex-start;
  width: 40%;
}

.textBox {
  background: #fefefe;
  margin-top: 0;
}

.textBox2 {
  background: #fefefe;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  width: 100%;
}

.mainText {
  align-items: center;
  display: flex;
  font-size: 24px;
  height: 100px;
  justify-content: flex-start;
  padding: 0 20px 0 20px;
}

.pHead {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
}

.pBody {
  font-size: 20px;
  padding: 0 0 20px 10px;
}

.pBtn {
  align-items: center;
  background-color: #065190;
  color: #fefefe;
  display: flex;
  font-size: 20px;
  height: 50px;
  justify-content: center;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: center;
  width: 150px;
}

.pBtn:hover {
  filter: brightness(120%);
}

/* Main section ends here */
/* The note section starts here */
.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.itemsStart {
  align-items: flex-start;
}

.justifyStart {
  justify-content: flex-start;
}

.noteContainer {
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  margin: 10px auto;
  max-width: 90%;
  min-height: 200px;
}

.noteContainerTitle {
  background: #065190;
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fefefe;
  margin-top: 0;
  padding: 10px 20px;
}

.notes {
  margin-top: 10px;
  padding: 10px 20px;
}

.noteNew {
  border-top: 1px solid #ababab;
  margin: 10px 20px;
  padding-top: 20px;
}

.yourNote {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 0;
}

.noteBody {
  color: #4a5568;
  line-height: 1.4;
  margin: 0;
  padding-right: 10px;
}

.noteInput {
  border-radius: 8px;
  border: 1px solid #ddd;
  color: #4a5568;
  font-size: 12px;
  line-height: 1.4;
  padding: 8px;
  width: 100%;
}

.noteInput:focus {
  border-color: #5c6ac4;
  outline: none;
}

.noteSubmit {
  background: #065190;
  border-radius: 4px;
  border: none;
  color: #fefefe;
  cursor: pointer;
  font-size: 12px;
  margin-top: 5px;
  padding: 10px 16px;
  text-transform: uppercase;
}

.noteSubmit:hover,
.noteSubmit:focus {
  filter: brightness(130%);
}

@media screen and (max-width: 1750px) {
  .navLinks {
    width: 60%;
  }
}
@media screen and (max-width: 1070px) {
  body {
    overflow-x: hidden;
  }

  section {
    margin: 3vh 3vw;
  }

  article {
    margin: 3vh 3vw;
  }

  /* The navigation starts */
  .navLinks {
    align-items: center;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    height: 90vh;
    position: absolute;
    right: 0px;
    top: 8vh;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    width: 100vw;
  }

  .navLinks li {
    float: left;
    opacity: 1;
  }

  .burgerMenu {
    cursor: pointer;
    display: block;
  }

  .navActive {
    transform: translateX(0%);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  /* The navigation ends here */
  /* The headermenu starts here */
  .historyHeader {
    font-size: 40px;
  }

  .navLinks2 {
    display: none;
  }

  .navLinks2 li {
    list-style: none;
    border: 1px solid #aaa;
  }

  .navLinks2 a {
    color: #121212;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding: 25px 12px;
    text-decoration: none;
    width: 100%;
  }

  /* The headermenu ends here */
  /* The navigation for the timelines */
  .calendar {
    background: #f4f4f4;
    padding: 50px 25px;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }

  .calendar ul {
    list-style: none;
  }

  .calendar a {
    color: #121212;
    text-decoration: none;
  }

  .calendar ul li {
    color: #121212;
    font-size: 50px;
  }

  .calendar .prev {
    float: left;
  }

  .calendar .next {
    float: right;
  }

  #hidden {
    display: none;
  }

  .years {
    background: #ddd;
  }

  .years a {
    color: #121212;
    text-decoration: none;
  }

  .years li {
    border: 1px solid #121212;
    display: inline-block;
    height: 50px;
    list-style: none;
    text-align: center;
    padding: 10px;
    width: 24.45%;
  }

  /* Navigation for timelines ends here */
  /* The main section */
  .mainLogo img {
    width: 80%;
  }

  .introText {
    font-size: 18px;
  }

  h2 {
    font-size: 35px;
  }

  .mainText {
    font-size: 15px;
    height: 100px;
    padding: 0 20px 0 20px;
  }

  .pHead {
    font-size: 20px;
    padding: 10px 0 10px 10px;
  }

  .pBody {
    font-size: 15px;
    padding: 0 10px 20px 10px;
  }
}

/*# sourceMappingURL=style.css.map */
